#id_primary_country,
#id_primary_country option:not(:first-child) {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

.order-record {
    max-height: 416px;
    overflow-y: auto;
}

.order-history {
    overflow-y: auto;
}
