{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="fw-bold mb-4 text-center">Shopping Basket</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if basket_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless table-striped">
                    <thead class="text-dark">
                        <tr>
                            <th scope="col">Product Details</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for item in basket_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded" src="{{ item.product.product_image.url }}">
                            </td>
                            <td class="py-3">
                                <p class="mb-0"><strong>{{ item.product.name }}</strong></p>
                                <p class="mb-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                            </td>
                            <td class="py-3">
                                <p class="mb-0">${{ item.product.price }}</p>
                            </td>
                            <td class="py-3 w-25">
                                <form class="form update-form" method="POST" action="{% url 'update_basket_quantity' item.item_id %}" id="updateForm">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <button class="btn btn-outline-secondary btn-sm decrement-qty" 
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}" type="button">
                                                <i class="fas fa-minus fa-sm"></i>
                                            </button>
                                            <input class="form-control form-control-sm qty_input text-center" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}"
                                                id="id_qty_{{ item.item_id }}">
                                            <button class="btn btn-outline-secondary btn-sm increment-qty"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}" type="button">
                                                <i class="fas fa-plus fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-sm btn-info update-link" id="updateButton">Update</button>
                                        <a class="btn btn-sm btn-danger remove-item" id="remove_{{ item.item_id }}">Remove</a>
                                    </div>
                                </form>
                                
                            </td>
                            <td class="py-3">
                                <p class="mb-0">${{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 offset-md-6">
                    <div class="basket-summary text-right">
                        <h6><strong>Basket Total: ${{ total|floatformat:2 }}</strong></h6>
                        <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                        <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                        {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                Spend <strong>${{ free_delivery_delta }}</strong> more to get free delivery!
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
             
            <div class="row mt-4">
                <div class="col-12">
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 btn-lg mr-2">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Continue Shopping</span>
                        </a>
                        <a href="" class="btn btn-dark rounded-0 btn-lg">
                            <span class="text-uppercase">Proceed to Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
                <p class="lead mb-5">You have an empty basket.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-dark rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fa-solid fa-circle-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Continue Shopping</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'basket/includes/quantity_script.html' %}
{% endblock %}
     

