<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All PRODUCTS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="skincare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SKINCARE
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="skincare-link">
                <a href="" class="dropdown-item">All Moisturisers</a>
                <a href="" class="dropdown-item">Deodorants</a>
                <a href="" class="dropdown-item">Facial Care</a>
                <a href="" class="dropdown-item">Body Scrubs</a>
                <a href="" class="dropdown-item">All Shaving</a>
                <a href="" class="dropdown-item">Sun Creame</a>
                <a href="" class="dropdown-item">All Skincare</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="haircare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                HAIRCARE
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="haircare-link">
                <a href="" class="dropdown-item">All Shampoo</a>
                <a href="" class="dropdown-item">All Conditioners</a>
                <a href="" class="dropdown-item">Hair Styling</a>
                <a href="" class="dropdown-item">Men's Hire Care</a>
                <a href="" class="dropdown-item">Brushes &amp; Comb</a>
                <a href="" class="dropdown-item">All Haircare</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="makeup-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MAKEUP
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="makeup-link">
                <a href="" class="dropdown-item">Complexion</a>
                <a href="" class="dropdown-item">Cheeks</a>
                <a href="" class="dropdown-item">Nails</a>
                <a href="" class="dropdown-item">Eyes</a>
                <a href="" class="dropdown-item">Lips</a>
                <a href="" class="dropdown-item">Glitters</a>
                <a href="" class="dropdown-item">All Haircare</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bathroom-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                BATHROOM
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bathroom-link">
                <a href="" class="dropdown-item">All Dental Care</a>
                <a href="" class="dropdown-item">Soap Bars</a>
                <a href="" class="dropdown-item">Mouth Wash</a>
                <a href="" class="dropdown-item">Liquid Soap</a>
                <a href="" class="dropdown-item">Body Wash</a>
                <a href="" class="dropdown-item">Sponges</a>
                <a href="" class="dropdown-item">All Bathroom</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="kitchen-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                KITCHEN
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="kitchen-link">
                <a href="" class="dropdown-item">Food Storage</a>
                <a href="" class="dropdown-item">Wax Wraps</a>
                <a href="" class="dropdown-item">Kitchen Essentials</a>
                <a href="" class="dropdown-item">Kitchen Cleaning</a>
                <a href="" class="dropdown-item">All Bathroom</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SPECIAL OFFERS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Products</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>