 {% load static %}
<link rel="stylesheet" href="{% static 'terms/css/terms.css' %}">

<header>
    <h1 class="text-white">Eco | Shop</h1>
    <p>Our terms for Service Delivery</p>
</header>
<body>
    <div class="container" id="terms-content">
        <h1>Terms and Conditions</h1>
        <p><strong>Effective Date:</strong> May 30, 2025</p>
        <p>Welcome to <strong class="shop fw-bold">Eco | Shop!</strong> By using our website, you are agreeing to the following terms and conditions..</p>

        <h2>1. General</h2>
        <p>This website is run by Eco Shop, and these Terms apply to everyone who visits the site.</p>

        <h2>2. Orders</h2>
        <ul>
            <li>Orders depend on availability and price confirmation.</li>
            <li>We reserve the right to cancel or refuse any order.</li>
        </ul>

        <h2>3. Pricing and Payment</h2>
        <ul>
            <li>All prices are in dollars and include taxes where applicable.</li>
            <li>Currently, payments can only be made via credit or debit cards, but we plan to add more payment options in the future.</li>
        </ul>

        <h2>4. Shipping and Delivery</h2>
        <p>We aim to process orders within 2 business days, but delivery times can vary based on your location..</p>

        <h2>5. Returns and Refunds</h2>
        <p>You can return items within 31 days, provided they are unused and in their original packaging.. See our <a href="{% url 'view_returns'%}">Return Policy</a>.</p>

        <h2>6. Intellectual Property</h2>
        <p>All site content is owned by Eco Shop and is protected by law.</p>

        <h2>7. Limitation of Liability</h2>
        <p>We are not liable for any damages that may arise from your use of our site or services.</p>
        <h2>8. Changes to Terms</h2>
        <p>We may update these terms from time to time, and any changes will take effect once they are posted on this site..</p>

        <h2>9. Contact Us</h2>
        <p>If you have any questions, feel free to reach out to us at:</p>
        <p>
        <strong class="shop fw-bold">Eco | Shop</strong><br>
        546 Rodendo Beach<br>
        Los Angeles<br>
        California, 18246<br>
        USA<br>
        Email: <a href="mailto:support@ecoshop.com">support@ecoshop.com</a>
        </p>

    <button class="btn-download" onclick="downloadPDF()">Download as PDF</button>
  </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script>
    async function downloadPDF() {
        const { jsPDF } = window.jspdf;
        const doc = new jsPDF();

        const content = document.getElementById('terms-content').innerText;
        const lines = doc.splitTextToSize(content, 180);

        doc.setFontSize(12);
        doc.text(lines, 10, 10);
        doc.save('terms-and-conditions.pdf');
    }
</script>